<%= render 'users/header' %>

<div class="container">
  <%= flash[:success] %>

    <div class="row">
      <!-- 新着blog -->
      <div class="col-md-offset-1 col-md-6">
        <%= render 'users/blog' %>
      </div>

    <!-- side-bar -->
    <div class="col-md-offset-1 col-md-4">
      <%= render 'users/sidebar' %>
    </div>
  </div>
</div>


