<%= render 'users/header' %>

<div class="container" id="blog-page">
  <%= flash[:success] %>
	  <div class="page-title">お気に入り一覧</div>
	    <div class="row">
	    	<div class="col-md-12 slide-wrap">
	      	<%= render 'users/blog', blogs: @blogs %>
	      </div>
	    </div>
</div>