<%= render 'users/header' %>

<div class="container" id="blog-page">
  <%= flash[:success] %>
  <div class="page-title">お気に入り一覧</div>
    <div class="row">
      <%= render 'users/blog' %>
    </div>
</div>

