<%= render 'users/header' %>

<main class="clearfix">
    <!-- 新着順に表示 -->
    <div class="newly-arriving-blog">
        <div class="blog-box">
          <% @blogs.each do |blog| %>
            <div class="blog-item clearfix">
                    <%#= attachment_image_tag blog.image, :image, size:'100x100', format: 'jpeg', fallback: 'no_image.jpg', size:'100x100' %>
              <section class="blog-body">
                <%#= blog.body %>
                <!-- 追加機能///投稿日時実装の場合ここに表示（CARAVAN参考)-->
              </section>
            </div>
          <% end %>
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebar-right">
            <ul class="current-user-profile">
               <!-- <li> -->
               <%#= link_to user_path(user) do %>
               <%#= attachment_image_tag current_user.(profile_)image, :image, size:'50x50', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
               <!-- </li> -->
                <li>
                  <%= current_user.name %>
                </li>
            </ul>
        <!-- following_user一覧 -->
        <div crass="user-list">
            <section class="list-box">
                <h4 class ="list-heading">
                    <span>フォロー中</span>
                    <span><%#= link_to "すべて見る", #followings_index_path %></span>
                </h4>
                <% followings.each do |following| %>
                    <ul>
                        <li>
                            <%#= link_to following_user_path(user) do %>
                            <%#= attachment_image_tag current_user.(profile_)image, :image, size:'50x50', format: 'jpeg', fallback: 'no_image.jpg', class: "img-circle pull-left profile-thumb" %>
                        </li>
                        <li>
                          <%#= following_user.name %>
                        </li>
                    </ul>
                <% end %>
            </section>
        </div>
        <!-- followed_user一覧 -->
        <div crass="user-list">
            <section class="list-box">
                <h4 class ="list-heading">
                    <span>フォロワー</span>
                    <span><%#= link_to "すべて見る", #followed_index_path %></span>
                </h4>
                <% followeds.each do |followed| %>
                    <ul>
                        <li>
                            <%#= link_to followed_user_path(user) do %>
                            <%#= attachment_image_tag user.image, :image, size:'50x50', format: 'jpeg', fallback: 'no_image.jpg', size:'50x50' %>
                        </li>
                        <li>
                          <%#= followed_user.name %>
                        </li>
                    </ul>
                <% end %>
            </section>
        </div>
    </div>
</main>

