<%#= render 'users/header' %>
<main id="content">
	<div class="user-image">
		<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
	</div>
	<div class="user-name">
			<ul>
				<li><%= @user.name %></li>
				<% if @user.id == current_user.id %>
				<li>
					<%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-default" %>
				</li>
				<% end %>
			</ul>
	</div>
	<section class="user-info">
		<ul>
		  <li>投稿<%#= @user.blogs.count %>件</li>
		  <li>フォロワー<%#= @user.following.count %>人</li>
		  <li>フォロー中<%#= @user.followed.count %>人</li>
		</ul>
	</section>
</main>




