<body id="about">
	<div class="row about">
		<div class="text-space">
			<h1 class="app-title">Bonheur Chocolat</h1>

				<div class="col-md-12">
					<div class="text-body">
						<h5>~ チョコレート好きのための『チョコレート図鑑』~</h5>
							<p class="text-detail">
								チョコレートの発祥の地ベルギーではかつて、「神の食べ物＝テオブロマ・カカオ」と呼ばれていたチョコレート。味だけでなく、「幸せの香り」とも言われるカカオの香りも魅力的。<br>香りとほろ苦さが魅力のビターチョコ、ほんのり甘いミルクチョコ、やさしくとろけるホワイトチョコ。<br>なめらかにとろける生チョコ、ナッツやフルーツ、フレーバー…。チョコレートの種類は数えきれない程。<br>『Bonheur Chocolat』はチョコレートの基本的な種類やおすすめブランド、チョコに関するレビューを閲覧/共有できるサイトです。
							</p>
					</div>
				</div>
		</div>
	</div>
	<div class="row about">
		<div class="info-link">
			<%= link_to " << Top  /", root_path %>
			<%= link_to " Log in  /", new_user_session_path %>
	    <%= link_to " Sign up  /", new_user_registration_path %>
		</div>
	</div>
</body>