<body id="common-image">

<div class="main">
	<h1 class="title">Bonheur Chocolat</h1>
	<ul class="nav-link">
		<li>
			<%= link_to "Login", new_user_session_path, class: "style-change" %>
		</li>
		<li>
			<%= link_to "Signup", new_user_registration_path, class: "style-change"  %>
		</li>
		<li>
        	<%= link_to "About", homes_about_path, class: "style-change" %>
       	</li>
	</ul>
	<!-- 作成段階　ページ遷移用 -->
    <%= link_to "User.index", users_path %>
</div>
</body>
