/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didot';
}

body {
  background-color: #FCFCFC;
}

.container {
  margin-top: 20px;
}

.container.devise {
  background: none;
}

li {
  list-style: none;
}

/* ブートストラップのデフォルト変更 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
  color: #000;
}

/* topページ　*/
#common-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: image-url("9259804553_580c1f5eae_o.jpg");
}

.title {
  margin-top: 250px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.guide-link {
  margin-top: 5px;
  text-align: center;
  display: block;
  a {
    font-size: 30px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

/* sign up,log in */
section {
  margin-top: 160px;
}

.form-heading, .text-center {
  margin-bottom: 30px;
  text-align : center;
  color: #fff;
  font-weight: bold;
}

.form-header-passward {
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
}

.form-footer {
  margin-top : 15px;
  line-height: 1.7;
  color: #fff;
  font-size : 20px;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

/* about */
#about {
  background-image: image-url("yohann-libot-NgRMY9QcnhE-unsplash.jpg");
  background-size: cover;
  width: 100%;
  opacity: 1.0;
}

.row.about {
  margin: 30px 0 0 60px;
}

h1, h5 {
  font-family: 'Didot';
  font-weight: bold;
}

p {
  line-height: 1.8;
}

.text-space {
  width: 750px;
  height: 300px;
  padding: 15px 20px;
  background-color:rgba(255,255,255,0.6);
}

.info-link {
  a {
  color: #fff;
  font-size : 20px;
  }
}

/* header position: relativeかabsolute;未設定*/
header {
  width: 100%;
  height: 100px;
  padding: 5px 40px;
  /*position: fixed;*/
  color: #fff;
  background-image: image-url("kaffee-meister-XhWntGj2N98-unsplash");
  background-size: cover;
 }

.logo {
  display: inline-block;
  float: left;
  padding: 20px 0;
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #fff;
 }

.search {
  display: inline-block;
  float : left;
  padding: 25px 290px;
  color: #000;
 }

.navbar-right {
  padding: 20px 5px;
  a {
    color: #fff;
  }
  li {
    font-size: 28px;
  }
}

.nav li a:hover {
  background-color: transparent; /*ブートストラップのデフォルト解除→link背景色を透明に設定*/
}

/* user.index */
article {
  margin: 20px 0; /* 最後flashメッセージと間隔調整　*/
  padding: 15px 20px;
  height: 650px;
  width: 550px;
  background-color: #fff;
  border: 1px solid #cccccc;
  .user-name {
    padding: 0 230px 0 15px;
    font-size: 25px;
  }
}

.box-heading {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.blog-main {
  padding: 5px;
  min-height: 400px;
  overflow: hidden;
}

.blog-icon {
  span {
    font-size: 18px;
    padding-right: 12px;
  }
}

.sidebar-right {
  padding-left: 15px;
  th {
    width: 100px;
    font-size: 25px;
  }
}

.current-user-profile {
  .profile-image-circle {
    width: 80px;
    height: 80px;
    background: linear-gradient(to right, #00f, #f00);
    border-radius: 50%;
    padding: 3px;
  }
}

.blog-box, .user-list-box {
  margin: 20px 20px 20px 0;
  padding: 0 20px;
  min-height: 300px;/* user-list-box用に設定*/
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 8px;
  tr {
    height: 45px;
  }
  .image {
    width: 70px;
  }
  .name {
    font-size: 18px;
  }
}

/* user.show */
.user-data {
  margin-left: 30px;
  padding-left: 40px;
  display: block;
  float: left;
  li {
    display: inline-block;
    padding: 0 25px 10px 0;
    font-size: 17px;
  }
}

.user-image {
  padding-top: 25px;
}

.user-introduction {
  width: 230px;
  height: 80px;
}

/* user.edit */
.common-user-box { /* user共通ページ内共通で使用*/
  margin-top: 20px;
  padding: 20px;
  height: 600px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #fff;
  p {
    font-size: 12px;
    color: #999999;
  }
}

.edit-form {
  margin: 15px 0 0 30px;
  table {
    width: 100%;
    tr {
      vertical-align: top;
      th {
        width: 130px; /* widthはHTMLでtr毎に設定　*/
        padding-right: 15px;
        text-align: right;
      }
    }
  }
  li {
    margin-bottom: 5px;
    /*list-style: none;*/
  }
  .image {
    padding-left: 25px;
  }
  .btn {
    margin-left: 190px;
  }
}

/* blog.new */
.caption-title {
  margin-top: 5px;
  height : 40px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  font-size: 18px;
}

.field {
  margin-top: 10px;
}

.caption-submit {
  text-align: center;
}

/* blog.index */
/*.col-md-offset-1.col-md-4 { サイドバー固定。view崩れる*/
  /*position: fixed;*/
/*}*/

/* follow,follower.index */
.common-relationship-box { /* common-user-boxと共通にできれば1つにまとめる */
  margin-top: 20px;
  padding: 20px 30px;
  min-height: 600px; /* スクロール実装のためminを設定 */
  overflow: scroll; /* スクロール */
  border: 1px solid #cccccc;
  border-radius: 8px;
  background-color: #fff;
}

.user-list {
  tr {
    height: 60px;
  }
  .image {
    width: 80px;
  }
  .name {
    width: 400px;
    font-size: 20px;
  }
}

/* favorites.index,user.
一部共通 */
#blog-page {
  width: 100%;
}

.page-title {
  margin: 10px 0 0 50px;
  font-size: 25px;
}

.slide {
  margin: 30px;
}

.slide-wrap {
   /*margin: 20px;*/
   zoom: 85%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   overflow-x: scroll;
   overflow-scrolling: touch;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
   /*-webkit-overflow-scrolling: touch; ブラウザに応じて適用*/
}

#user {
  margin-top: 40px;
  width: 100%;
  zoom: 75%;
  border-top: 1px solid #cccccc;
    h2 {
      margin: 20px 0  0 50px;
    }
}
/* blog.show */
.comment-page {
  width: 85%;
  margin-top: 15px;
}

#edit-box {
  height: 700px;
  .blog-main {
    i, a {
      font-weight: bold;
      padding-top: 8px;
    }
  }
}

.icon-list {
  display: inline-block;
  float: left;
  a, i {
    margin-right: 10px;
  }
}

.comment-box {
  margin-top: 20px;
  padding-top: 20px;
  width: 570px; /* col-1.6で内maxサイズ　*/
  min-height: 600px;
  background-color: #fff;
  border: 1px solid #cccccc;
  overflow-y: hidden;
  overflow-y: scroll; /* テーブル部分だけにかける　*/
  .box-title {
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
  }
}

.update {
  height: 28px;
  font-size: 12px;
  margin-top: 5px;
}

.comments-index {
  margin-top: 10px;
  padding-top: 10px;
  /*text-align: center;*/
  border-top: 1px solid #cccccc;
  .box-title {
    text-align: center;
    font-size: 15px;
  }
}

