/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Didot';
}

body {
  background-color: #f8f8f8;
}

/* ブートストラップのデフォルト変更 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all  0.2s ease;
  color: #000;
}

/* topページ　*/
#common-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: image-url("9259804553_580c1f5eae_o.jpg");
}
.title {
  margin-top: 250px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.guide-link {
  margin-top: 5px;
  text-align: center;
  display: block;
  a {
    font-size: 30px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

/* sign up,log inページ　*/
section {
	margin-top: 160px;
}

.form-header, .text-center {
  margin: 30px;
  text-align : center;
  color: #fff;
  font-size : 35px;
  font-weight: bold;
}

.form-footer {
	margin-top : 15px;
  line-height: 1.7;
	color: #fff;
  font-size : 20px;
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

/* aboutページ */
#about {
	background-image: image-url("yohann-libot-NgRMY9QcnhE-unsplash.jpg");
  background-size: cover;
  width: 100%;
  opacity: 1.0;
}

h1, h5 {
  font-weight: bold;
}

p {
	line-height: 1.8;
}

.text-space {
	width: 750px;
	height: 300px;
	padding: 15px 20px;
	background-color:rgba(255,255,255,0.6);
}

.info-link {
  padding-top : 1px;
  a {
  color: #fff;
  font-size : 20px;
  }
}

/* header position: relativeかabsolute;未設定*/
header {
  width: 100%;
  height: 100px;
  padding: 5px 40px;
  color: #fff;
  background-image: image-url("kaffee-meister-XhWntGj2N98-unsplash");
  background-size: cover;
 }

.app-logo {
  display: inline-block;
  float: left;
  padding: 20px 0;
  font-family: 'Satisfy', cursive;
  font-size: 36px;
  color: #fff;
 }

.search {
  display: inline-block;
  float : left;
  padding: 25px 320px;
  color: #000;
 }
 /* ↓↓color指定が適用されない、linkのマウスオーバーが変*/
.navbar-right {
  padding: 20px 5px;
  a {
    color: #fff;
  }
}

/* user.index */
#users-container {
  div.current-user-profile {
    height: 100px;
    img.profile-image-circle {
      width: 100px;
      height: 100px;
      border: 3px solid #cccccc;
      border-radius: 50%;
      padding: 5px;
    }
    .name {
      padding-left: 20px;
    }
  }
}

.sidebar-right {
  margin : auto 25px;
}

.box-heading {
  display: flex;
  justify-content: space-between;
}

.blog-box, .user-list-box {
  margin: 15px;
  padding: 10px 15px;
  border: 1px solid #808080;
  border-radius: 8px;
}

article {
  margin-bottom : 15px;
  border: 1px solid #808080;
}

.sidebar-heading {
  font-size: 30px;
}

/* user.show */
.user-data {
  display: block;
  float: left;
  li {
    display: inline-block;
    padding: 0 20px 10px 0;
    font-size: 18px;
  }
}

.user-introduction {
  width: 200px;
  height: 100px;
}

.user-wirhdraw {
  margin-top: 30px;
}

/* user.edit */
.profile-edit-box {
  margin: 30px 0 0 30px;
  padding: 20px 15px;
  height: 500px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #fff;
    p {
      font-size: 12px;
      color: #999999;
    }
}

