// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("claudiu-hegedus-e2jqIApMmNM-unsplash");
}

/* topページ　*/
.title {
  margin-top: 250px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

li {
	margin-top: 5px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	display: block;
}

