// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  margin-top: 5px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  display: block;
}


